body{
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}
header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
.textoInicio textarea{
    position: absolute;
    width: 577px;
    height: 288px;
    left: 240px;
    top: 168px;
    border: none;
    background: #F3F5FC;
}
::placeholder{
    color: #0A3871;
}
.advertencia{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}
.advertencia img{
    width: 16px;
    height: 16px;
}
.advertencia p{
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
    border: none;
}
.botones :hover{
    color: #d29f5f;
    transform: scale(1.05);
}
.botones .encriptar{
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
}
.encriptar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.botones .desencriptar{
    box-sizing: border-box;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
.desencriptar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    cursor: pointer;

}
.rectanguloAviso{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.muñeco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 283px;
}
.mostrarMensaje{
    position: absolute;
    gap: 16px;
    width: 336px;
    height: 122px;
    left: 32px;
    top: 619px;
    font-family: 'Inter';
    font-style: normal;
}
.mostrarMensaje .mensajeNoEncontrado p{
    width: 336px;
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.testoEncriptado{
    position: absolute;
    top: -549px;
    display: none;

}
textarea{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    width: 336px;
    height: 390.5px;
    border: none;
}
.Copiar:hover{
    transform: scale(1.05);
    color: #d29f5f;
    
}
form .botonCopiar{
    position: absolute;
    top: 225px;
    display: none;
}

.Copiar{
    width: 336px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 8px;
    text-align: center;
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid;
    padding: 32px;
}

.mostrarMensaje .mensajeAviso p{   
    width: 336px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
